
html{font-size: 16px;}

/*Geral*/

body{ /*pai elementos*/
    display:flex;
    flex-direction: column;
    width: 100%;
}

header { /*yourhealth- titulo*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .1rem solid black;

}
footer{
    position: fixed;
    
    bottom:0;
    align-self: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    flex-wrap: wrap;
    height: 3rem;
}

h1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 3rem;
    
}

h2 { /*tema das páginas */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-weight : bold
}

.voltar{width: 1.5rem; /*botão de volta*/
    height: 1.5rem;
}

.lupinha{width: 1.5rem;
    height: 1.5rem;
    flex-direction: row;
    align-self: flex-end;
    margin:0.1rem;
}

/*------------------------------------------------------------------*/

/*Icones do menu*/

.icones{   /*pai*/
    display:flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.icones > li{ 
    border:0;
}

.icones_menu{ /*filhos*/
    width: 10rem;
    height: 10rem;
}

/*------------------------------------------------------------------*/


/*tela inicial*/

.escolha{ /*tela de inicio*/
    display: flex;
    border: 0.1rem solid black;
    margin:0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: lightpink;
}

.horas{ /*tela inicial - infos */
    font-size: 1.5rem;
    border: .1rem solid black;
    padding: .3rem;
    margin: 1rem;
}



.dicas{ /* tela inicial - infos*/
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 12rem;
    
    flex-direction: column;
    align-items: center;
    border: .1rem solid black;
    flex-wrap: wrap;
    margin: 1rem ;
    padding: 1rem;
    
}

.dicas>h2{height: 1rem;
padding-bottom:0.5rem ;}


/*------------------------------------------------------------------*/

/*Botões*/

.buscar{ /*botão busca*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-end;
    
}

button{ /*botões*/
    display: flex;
    flex-direction: row;
    margin: 1rem ;
    justify-content: center;}

/*------------------------------------------------------------------*/

/* Área Pacientes*/

.perfil_paciente{ /*foto paciente*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}



.iconesbaixo{ 
    justify-content: center;
    margin: 1rem;
    
    padding: 1rem 1rem 1rem 4rem;
   
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    background-position: 1rem 1rem;
    font-size: 2rem;
    text-decoration: none;
    border-radius: .5rem;
}

.info{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.info>li{
    font-size: 1.5rem;
    margin: 1rem;
    padding: 2rem;
    border: .1rem solid black;
}

.box{ /* rotina*/
    margin:1rem;
    padding: .9rem;
    border: .1rem solid black;
}


/*------------------------------------------------------------------*/

/*receitas*/

.check{ /*check dos filtros*/
    display:flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2rem;
}

/*------------------------------------------------------------------*/

.fundo{
    width: 1.5rem;
    height: 1.5rem;
    align-self: flex-end;
}



li{ /*listas*/  
    border-bottom: .1rem solid gray;
    font-size: 1.2rem;
    padding: .1rem;}
    

main{  
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border: .1rem solid black;
}



p{ /*textos de paragráfos*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}



.iconescanto{ /* fluxo de médico*/
        display: flex;
        margin: 1rem 0 1rem 1rem;
        border: .1rem solid black;
        padding: 0 0 0 10rem; 
}

    



.custom-select{display: flex;
flex-direction: column;
justify-content: space-between;

align-items: center;
margin: 1rem;}
.custom-select>h2{font-size: 2rem;}
select{margin: 1rem;

font-size: 1rem;}

.profissionais{font-size: 2rem;}


.center>.buscar{align-items: center;}

.rotinas{display: flex;
flex-direction: column;
align-items: center;}