

/*Icones do menu*/

.icones{   /*pai*/
    align-items: flex-end;
    flex-direction: row;
}

.icones_menu{ /*filhos*/
    width: 10rem;
    height: 10rem;
}

/*------------------------------------------------------------------*/

header { /*yourhealth- titulo*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-bottom: .1rem solid black;
}

body{ /*pai elementos*/
    display:flex;
    flex-direction: column;
    width: 100%;
    font-weight: 16px;
}

.buscar{
    display: flex;
    flex-direction: row;
    width: 80%;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
}

h1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-weight: 16px
    border-bottom: .1rem solid black;
}

h1 { /*tema das páginas */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-weight : bold
}



.lupinha{width: 1.5rem;
    height: 1.5rem;
}


ul{flex-grow: 1;}
li{border-bottom: .1rem solid gray;
    padding: 1rem;}