
html{font-size: 16px;}
/*Icones do menu*/
body{ /*pai elementos*/
    display:flex;
    flex-direction: column;
    width: 100%;
}
.icones{   /*pai*/
    display:flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
    
}
.icones > li{
    border:0;
}
figure{
    display:flex;
    flex-direction: column;
}
.icones_menu{ /*filhos*/
    width: 10rem;
    height: 10rem;
}

/*------------------------------------------------------------------*/

header { /*yourhealth- titulo*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-bottom: .1rem solid black;

}
footer{
    position: relative;
    justify-content: row;
    bottom: 0;
    align-self: center;
}


.buscar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-end;
    
}
.buscar > .iconesbaixo{ 
    font-size: 10px;
    margin:0.2rem;
    padding: 0.1rem,0,0.1rem,0,2rem;
    
   
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    flex-wrap: wrap;
    height: 3rem;
}

h1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 3rem;
    
}

h2 { /*tema das páginas */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-weight : bold
}

.escolha{ 
    display: flex;
    border: 0.1rem solid black;
    margin:0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: lightpink;
}


.lupinha{width: 1.5rem;
    height: 1.5rem;
}

.lupinha2{width: 1.5rem;
    height: 1.5rem;
    flex-direction: row;
    align-self: flex-end;
    margin:0.1rem;
}
.fundo{width: 1.5rem;
    height: 1.5rem;
    align-self: flex-end;
    }
li{border-bottom: .1rem solid gray;
    padding: 1rem;}
    
.iconesbaixo{ /* fluxo de médico*/
    display: block;
    margin: 1rem;
    border: .1rem solid black;
    padding: 1rem 1rem 1rem 4rem;
   
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    background-position: 1rem 1rem;
    font-size: 2rem;
    text-decoration: none;
    border-radius: .5rem;
}
p{position: relative;
    display: flex;
    justify-content: center;
    align-items: center;}

.check{display:flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;}